body {
    font-family: sans-serif;
    background-color: red;
    margin-top: 75px;
    text-align:center;
    color:black;
    background-position:center    ;
}
img {
     border: 10px solid white;
    border-radius:100px;
padding:0 10 0 10px;
    
}
input[type="submit"]
{
    background:red;
    color:white;
}

