body {
    font-family: sans-serif;
    background-color: red;
    margin-top: 75px;
    text-align:center;
    color:black;
    background-position:center    ;
}
img {
     border: 10px solid red;
    border-radius:10px;
}
input[type="submit"]
{
    background:red;
    color:white;
}
